p {
  color: blue;
  font-weight: bold;
}
.weather {
  border: none;
  padding: 0 0 0 70px;
  background: linear-gradient(#e7eaf6, #a2a8d3);
}

.weather {
  color: blue;
  font-size: 24px;
}

.card-body {
  background: linear-gradient(#e7eaf6, #a2a8d3);
}

.sun-icon {
  color: darkorange;
  font-size: 24px;
}

.city-card {
  border: 1px solid white;
  border-right: 5px solid coral;
}

.position-relative {
  top: 80px;
}

.key {
  color: black;
}

.city {
  font-size: 34px;
}

.temp {
  font-size: 10px;
  position: relative;
  top: -7px;
}

#current {
  background: green;
  padding: 5px 25px;
}

#search {
  padding: 5px 25px;
}

.activable {
  color: black;
  cursor: default;
  text-decoration: none;
}

.activable:hover {
  text-decoration: underline;
}
